* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Titillium Web", sans-serif;
    user-select: none;
}

/* upper  container starts */
#mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;

}

#container1 {
    background: url('./img/personimg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

#container2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #1a2441;
}

#para1 {
    font-size: 2rem;
    padding: 3rem;
    font-weight: 400;
    font-style: normal;
    width: 80%;
    color: white;

}

#vb {
    position: absolute;
    border-left: 15px solid skyblue;
    height: 10rem;
    top: 0px;
    left: 0px;
}

/* upper  container ends */

/* button container starts */

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {

    padding: 2rem;
    font-weight: lighter;
    font-style: normal;
    cursor: pointer;
    background: none;
    border: 1px solid gray;
    font-family: "Titillium Web", sans-serif;
    color: gray;
}

#btn1 {
    margin-right: 1.5rem;
}

#btn1:active {
    background-color: #1a2441;
}

#btn2 {
    margin-right: 1.5rem;
}

#btn3 {
    margin-right: 1.5rem;
}


.btn:hover {
    background-color: #1a2441;
    color: white;

}

/* button container ends */




/* product catalog container starts */

#productContainer {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #abb8c3;

}

#extradiv {

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;


}


#productDetails {
    display: flex;
    align-items: center;

    height: 100%;
    width: 35%;
    font-size: 1rem;


}

#headingDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#hd1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 3rem;
    width: 80%;
}

#productImage {
    display: flex;
    height: 100%;
    width: 35%;
    font-size: 1rem;
    align-items: end;
    justify-content: center;



}


.imageAll {


    height: 90%;
    width: 18rem;


}

#colorOption {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 2rem;
}

#selColor {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(74, 74, 74);
}

.color-picker {
    background-color: #ffffff;
    width: 10em;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 3em;
    padding: 0.5em;





}



#color1 {
    background-color: rgb(213, 212, 212);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

#color2 {
    background-color: rgb(0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

#color3 {
    background: linear-gradient(to right, rgb(126, 126, 126) 50%, rgb(16, 7, 39) 50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color4 {
    background: linear-gradient(to right, rgb(245, 215, 192) 50%, rgb(16, 7, 39) 50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color5 {
    background: linear-gradient(to right, rgb(205, 205, 205) 50%, rgb(245, 215, 192) 50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color6 {
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color7 {
    background-color: rgb(190, 141, 141);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color8 {
    background-color: rgb(119, 84, 84);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color9 {
    background-color: rgb(179, 179, 179);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color10 {
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color11 {
    background-color: rgb(189, 157, 157);
    height: 20px;

    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color12 {
    background-color: rgb(77, 77, 77);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color13 {
    background-color: rgb(119, 84, 84);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color14 {
    background-color: rgb(175, 175, 175);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color15 {

    background-color: rgb(77, 77, 77);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

#color16 {
    background-color: rgb(119, 84, 84);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-45deg);
}




#prev {


    font-size: 5rem;

    cursor: pointer;


}

#next {


    font-size: 5rem;

    cursor: pointer;



}

#colorPicker1 {
    display: none;
}

#colorPicker2 {
    display: none;
}

#colorPicker3 {
    display: none;
}

.active {
    background-color: #1a2441;
    color: white;

}

.selected-color {
    border: 2px solid #780038;
  
}


/* product catalog container ends */


/* our media queries starts here */

@media screen and (max-width:800px) {

    #mainContainer {
        flex-direction: column;
        width: 100%;

    }




}


@media screen and (max-width:585px) {

    #para1 {
        font-size: 1.5rem;
        width: 90%;

    }




}

@media screen and (max-width:418px) {

    #para1 {
        font-size: 1.2rem;
        width: 90%;

    }




}

@media screen and (max-width:783px) {

    #btn4 {
        margin-top: 2rem;

    }




    #extradiv {

        flex-direction: column;

    }




}

@media screen and (max-width:617px) {

    #buttonContainer {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 0px;

        justify-content: center;


    }


    #btn1 {
        margin: 0px;
    }

    #btn2 {
        margin: 0px;
    }

    #btn3 {
        margin: 0px;
    }

    #btn4 {
        margin: 0px;
    }


    .btn {
        padding: 1.5rem;
        font-size: 15px;
    }



}



@media screen and (max-width:488px) {

    #btn1 {
        padding: 0.2em;


    }

    #btn2 {
        padding: 0.2em;



    }

    #btn3 {
        padding: 0.2em;



    }

    #btn4 {
        padding: 0.2em;



    }




}


@media screen and (max-width:1327px) {
    #productDetails {
        width: auto;
        margin: 2em;
    }

}

@media screen and (max-width:959px) {

    #hd1 {
        font-size: 2.3rem;
        width: 85%;

    }



    #colorOption {
        width: 90%;

    }

}

@media screen and (max-width:484px) {


    #colorOption {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #productDetails {
        width: 100%;
    }



}

@media screen and (max-width:420px) {

    #hd1 {
        font-size: 2.5rem;
    }


}



@media screen and (max-width:388px) {

    #prev {

        font-size: 3rem;



    }

    #next {
        font-size: 3rem;

    }


}


@media screen and (max-width:348px) {


    #extradiv {
        width: 60%;
    }
}

/* our media queries ends here */